In [ ]:
from glob import glob
import json
import kagglehub
import numpy as np
import os
import pandas as pd
import requests
import shutil

:

In [27]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

Download data from AIcrowd:
```bash
aicrowd login
aicrowd dataset download --challenge task-1-next-product-recommendation
```

In [14]:
for csv_file in glob(r'..\data\amazon_kdd\*.csv'):
    df = pd.read_csv(csv_file)
    print(csv_file)
    print(df.shape)
    display(df.sample(5))
    print()

..\data\amazon_kdd\products_train.csv
(1551057, 11)

,id,locale,title,price,brand,color,size,model,material,author,desc
861781,B083V1P4XV,JP,„Ç®„É™„Ç®„Éº„É´ „Éà„Ç§„É¨„ÉÉ„Éà„Éö„Éº„Éë„Éº „Éï„É©„ÉØ„Éº„Éó„É™„É≥„Éà 25m√ó72„É≠„Éº„É´(12„É≠„Éº„É´√ó6„Éë„ÉÉ„ÇØ)...,2978.00,„Ç®„É™„Ç®„Éº„É´,NaN,12„É≠„Éº„É´ (x 6),NaN,Êú®Êùê„Éë„É´„Éó,NaN,ÂÜÖÂÆπÈáè:72„É≠„Éº„É´
47341,B08BFQ52PR,DE,"NIMASO USB C zu 3.5mm Klinke,USB C Aux Adapter...",9.99,NIMASO,Grau,NaN,NAD22A441,NaN,NaN,üéß„Äé Gute Haltbarkeit„ÄèDer Aux Adapter USB C aus ...
1510216,B0B8N2T8VK,IT,"Opret Bottiglie da Viaggio 100ml in Silicone, ...",12.99,Opret,"Blu, Rosa, Verde, Giallo","4 pezzi, 100ml",NaN,Silicone,NaN,„ÄêApprovato dalla TSA„Äë Approvato dalla compagni...
306684,B08YJLQXJR,DE,"Primst Katzentunnel gro√üer Katzen Tunnel, Falt...",24.59,Primst,Grey 51x12inch,NaN,NaN,Wildleder,NaN,"Geniales Design: Der Tunnel ist faltbar, mit L..."
95943,B07LCCWBPW,DE,Mardingtop 28L Rucksack Taktischer Trekkingruc...,46.99,Mardingtop,28l Neu Schwarz,"18,1 x 10,8 x 8,7 Zoll",M6290,Polyester,NaN,‚òû AUSREICHENDE KAPAZITAT. Im Inneren des Haupt...

..\data\amazon_kdd\sessions_test_task1.csv
(316972, 2)

                                               prev_items locale
8006    ['B07C8Q5FJ5' 'B09VXWMZDG' 'B08F21NLMN' 'B0B7K...     DE
237328           ['B09HL2Y87M' 'B0B18YT6FF' 'B009IK5Q1Q']     UK
261090  ['B09MCK3RQW' 'B09MCK2KK7' 'B09MCK7PXS' 'B09MC...     UK
210086           ['B01N6BLHCN' 'B00B0KFO8W' 'B08H133S2L']     UK
307897  ['B000TARAWM' 'B000MBVYJS' 'B002NKS30E' 'B00K6...     UK

..\data\amazon_kdd\sessions_test_task1_phase1.csv
(316971, 2)

                                               prev_items locale
17317            ['B082WMY25D' 'B09KV6VJ2K' 'B00E67BJOE']     DE
302824                        ['B0B8SGL69T' 'B0B8SGL69T']     UK
283098           ['B07YKF6NTK' 'B07WYCZFRC' 'B06XZH8SKF']     UK
93643            ['B01HJG9JR2' 'B09GS5W7HY' 'B01DC7O0EE']     DE
168962  ['B00XX1ANBE' 'B004MHGNKS' 'B002V8I7XG' 'B007W...     JP

..\data\amazon_kdd\sessions_test_task2.csv
(34690, 2)

                                              prev_items locale
6854                         ['B095K2H48N' 'B09W8Z5KWM']     ES
12951  ['B0854NFMPZ' 'B07ZQGY54W' 'B0854M7TBD' 'B0854...     FR
5126                         ['B07QWZBX6L' 'B07QWZBX6L']     ES
9186   ['B07L45NJ3P' 'B075CX1FSY' 'B07DLX83JM' 'B07L4...     FR
21919  ['B08J8F46GF' 'B0B81LVP3C' 'B09ZQF5GZW' 'B08Z7...     IT

..\data\amazon_kdd\sessions_test_task2_phase1.csv
(34688, 2)

                                              prev_items locale
21090                        ['B08J7PQGD7' 'B08P4J6Y5Q']     IT
11235  ['B09QFXX1DW' 'B09BNV77GD' 'B09BNW682V' 'B09BN...     FR
7290                         ['B091G3FLL7' 'B0B2DK5YCP']     ES
24803  ['B07X2YMKBN' 'B07WZV3WQ5' 'B07X63LDTR' 'B07X6...     IT
31711                        ['B001FWYGJS' 'B071RSD473']     IT

..\data\amazon_kdd\sessions_test_task3.csv
(56422, 2)

                                              prev_items locale
31009           ['B09GM5NG9Z' 'B09KG9SMBV' 'B07V4SJF94']     IT
2475   ['B09QQG85HM' 'B09K7TDY1H' 'B0998ZJCKF' 'B099K...     ES
14588                        ['B091MVWGMZ' 'B091M89RV4']     DE
39568  ['B01I13QR22' 'B01I13R86Q' 'B01I13Q9CU' 'B01I1...     JP
15352                        ['B07WDRRF4T' 'B07WDRRF4T']     DE

..\data\amazon_kdd\sessions_test_task3_phase1.csv
(56421, 2)

                                              prev_items locale
14642           ['B07HD1LS78' 'B07HD1LS78' 'B07HD1LS78']     DE
15794                        ['B08B11873H' 'B08B11873H']     DE
45722                        ['B09S393TTF' 'B09S3G6QVL']     JP
39561  ['B09PCC9ZW3' 'B09SG193VS' 'B09SG22CKN' 'B09L7...     JP
30993                        ['B01N11IJR0' 'B08YXMMB1J']     IT

..\data\amazon_kdd\sessions_train.csv
(3606249, 3)

                                                prev_items   next_item locale
2879185  ['B09B283Z2P' 'B09B2B5CZQ' 'B09FDFYKZ5' 'B09B2...  B091CJC21Z     UK
2252902                        ['B07DLYQCGT' 'B07GTDZMZP']  B08LHGWF83     UK
3334756                        ['B01EHSNIW2' 'B00129AI6O']  B08XZLYCZ5     ES
2108213  ['B08P1XW7LF' 'B084SCK678' 'B08P1XW7LF' 'B084S...  B015FEY5OM     UK
556349                         ['B004JK7CC6' 'B0054DWTES']  B000H8B180     DE

In [15]:
# Let's just focus on task 1, the sessions training data, and the products training data:

products_df = pd.read_csv(r'..\data\amazon_kdd\products_train.csv')
sessions_df = pd.read_csv(r'..\data\amazon_kdd\sessions_train.csv')

In [22]:
# Focus on UK locale for now
# Maybe chase a multilingual embedding model soon and support everything
products_df = products_df[products_df['locale'] == 'UK'].reset_index(drop=True)
sessions_df = sessions_df[sessions_df['locale'] == 'UK'].reset_index(drop=True)

print(products_df.shape)
display(products_df.sample(5))

print(sessions_df.shape)
display(sessions_df.sample(5))

(500180, 11)

,id,locale,title,price,brand,color,size,model,material,author,desc
499361,B0B5R8JCYC,UK,"Animal Stickers Temporary Tattoos for Boys,Gir...",2.99,HONGCI,NaN,NaN,NaN,NaN,NaN,Easy to Use: You can choose your favorite patt...
437457,B08TRXRFHW,UK,"PIXFAB For TCL 10 5G Leather Phone Case, Magne...",7.45,PIXFAB,Black,"TCL 10 5G (6.53"")","TCL 10 5G (6.53"")",Thermoplastic Polyurethane,NaN,[COMPATIBILITY] Specifically designed For TCL ...
495466,B09RWPRG89,UK,Dell G2722HS 27 Inch Full HD (1920x1080) Gamin...,169.69,Dell,Black,27 Inch,G2722HS,NaN,NaN,An impressive 165Hz refresh rate alongside the...
450324,0007562853,UK,Collins KS3 Revision,7.69,Collins,NaN,NaN,NaN,NaN,Collins KS3,NaN
19736,B099KGB9VY,UK,Yzwuyou 40pcs Stud Wall Fixings 31mm Heavy Dut...,9.99,Yzwuyou,NaN,NaN,NaN,Stainless Steel,NaN,‚ù§Easy installation: Insert fixing point into t...

(1182181, 3)

                                                prev_items   next_item locale
1012236           ['B07TKXVC32' 'B001E1CWF0' 'B07TKXVC32']  B0BBYZSDY6     UK
839152   ['B0179TZV62' 'B001DZPUHO' 'B09YHJ96H9' 'B001N...  B09Z2N4XT4     UK
249298   ['B0B42Q4FYB' 'B0B17VR48T' 'B09DD7XHZN' 'B07YX...  B08B71Z3P1     UK
488715   ['B08GNRM37Q' 'B07N1JB9V7' 'B09LY4JJW7' 'B08LY...  B09QPDKN2T     UK
209803                         ['B0BHY2MG7H' 'B0B5WX4VV6']  B09K3XW6X7     UK

In [28]:
products_df['price'].describe()

count     500180.00
mean     2021694.30
std      8762408.00
min            0.00
25%            7.99
50%           12.99
75%           23.99
max     40000000.07
Name: price, dtype: float64

In [29]:
products_df.sort_values('price')

,id,locale,title,price,brand,color,size,model,material,author,desc
440961,B08KD88LT3,UK,Woodoku - Wood Block Puzzle Game,0.00,Tripledot Studios Limited,NaN,NaN,NaN,NaN,NaN,NaN
84398,B09WVVDHM7,UK,Lipstick Makeup Game,0.00,SUPONO HOLDINGS LTD,NaN,NaN,NaN,NaN,NaN,NaN
207562,B0811BNP7M,UK,Winter Wonders,0.00,NaN,NaN,NaN,NaN,NaN,"Greene, Leighton",NaN
124423,B09J4NR8PL,UK,"My Town : Pets, Animal game for kids",0.00,My Town Games ltd,NaN,NaN,NaN,NaN,NaN,NaN
463019,B077LFH9GH,UK,All I Want,0.00,NaN,NaN,NaN,NaN,NaN,"Croix, J.H.",NaN
...,...,...,...,...,...,...,...,...,...,...,...
250740,B0B58XBCN9,UK,"HTV Vinyl,Heat Transfer Vinyl 12"" x 6ft Black ...",40000000.07,Blusimine,Black,"12"" x 6ft",NaN,Vinyl,NaN,12 Inches x 6 Feet :12in*6ft Heat transfer vin...
405735,B09T9BVX8C,UK,"Hsxnam Credit Card Holder Wallet, RFID Blockin...",40000000.07,Hsxnam,Pink Flowers,NaN,NaN,Acrylonitrile Butadiene Styrene,NaN,„ÄêCompact Size„ÄëThis cute card holder wallet mea...
39666,B09Q33WWQC,UK,Sqinor Self Adhesive Round Mirror Frameless Gl...,40000000.07,Sqinor,NaN,"Fine Grinding, 40cm, 1pc",NaN,Glass,NaN,BATHROOM MIRROR: the stick on bathroom mirror ...
23,B01AS7VCY2,UK,Greek Style EasiYo Yogurt 8 Sachet Pack | Each...,40000000.07,EasiYo,NaN,NaN,NaN,NaN,NaN,3 EASY STEPS - Add the contents of your chosen...
149249,B074YCX3CK,UK,"Whole Foods Market Beef Braising Steak, 400g",40000000.07,Whole Foods Market,NaN,400 grams,5051246001639,NaN,NaN,"British beef, from trusted producers, prepared..."

In [21]:
products_df['brand'].value_counts()

brand
Generic                              2283
L'Oreal                              1508
Amazon Basics                        1402
LEGO                                 1335
Morrisons                            1287
                                     ...
4MOB INC - App Videos for YouTube       1
Bigalter                                1
Bermondsey Division                     1
Aohoo                                   1
Frontier Medical Group                  1
Name: count, Length: 76348, dtype: int64